:root {
    --window-bg: color(from var(--window-bg-color) srgb r g b / var(--lupa-opacity));
}

.launcher {
    background-color: var(--window-bg);
    border-radius: var(--lupa-radius);
}

.sidebar-pane {
    --sidebar-border-color: var(--border-color);
    background-color: var(--window-bg) !important;
}

.launcher_entry {
    min-height: var(--entry_size);
    border-radius: calc(var(--lupa-radius) - 8px);
}

.searcher {
    border: none;
    outline: none;
    padding: 8px;

    font-size: 18px;
}

.flatpak {
    color: #4A90D9;
}

.emoji_label {
    font-size: var(--icon-size);
}

.card {
    --bg: color(from var(--card-bg-color) srgb r g b);
    background-color: hsl(from var(--view-bg-color) h calc(s * 1.2) calc(l * (1.5 / var(--lupa-opacity))) / calc(var(--lupa-opacity) * 0.8));
}
