:root {
    --window-bg: color(from var(--window-color) srgb r g b / var(--lupa-opacity));
}

.launcher {
    background-color: var(--window-bg);
    border-radius: var(--lupa-radius);
}

.sidebar-pane {
    --sidebar-border-color: var(--border-color);
    background-color: var(--window-bg) !important;
}

.launcher_entry {
    min-height: var(--entry-size);
    border-radius: calc(var(--lupa-radius) - 8px);
}

.searcher {
    border: none;
    outline: none;
    padding: 8px;

    font-size: 18px;
}

.flatpak {
    color: #4A90D9;
}

.emoji_label {
    font-size: var(--icon-size);
}

.card {
    --clamped-elevation: min(2, max(var(--entry-elevation), 1));

    --lightness-factor: calc(var(--clamped-elevation) * (2 - var(--lupa-opacity)));
    --entry-opacity: calc(var(--lupa-opacity) * (2.5 - var(--clamped-elevation)));

    background-color: oklch(from var(--window-color) calc(max(l, 0.05) * var(--lightness-factor)) calc(c * pow(var(--clamped-elevation), 2.5)) h / var(--entry-opacity));
}
