.launcher {
    background-color: var(--window-bg);
}

.sidebar-pane {
    --sidebar-border-color: var(--border-color);
    background-color: var(--window-bg) !important;
}

.searcher {
    border: none;
    outline: none;
    padding: 8px;

    font-size: 18px;
}

.flatpak {
    color: #4A90D9;
}
